<% if (firstInCollection) { %>
<section class="form_row button_row textcenter" xmlns="http://www.w3.org/1999/html">
    <% } %>
    <div class="grid_<%= Math.floor(12 / collectionLength) %>">
        <div class="block_content">
          <%- buttonRow.link ? '<a' : '<button' %>
            id="member_form_cancel" class="button <%= buttonRow.class_name ? buttonRow.class_name : '' %>"
            <% if (buttonRow.link) { %> onclick="document.location='<%= buttonRow.link%>'" <% } %>

            ><%= buttonRow.label %>
            <%- buttonRow.link ? '</a>' : '</button>' %>
        </div>
    </div>
    <% if (lastInCollection) { %>
    <div class="clear"></div>
</section>
<% } %>