<%- helpers.banner_menu('Manage Members', 'member_admin_menu', 'admin_members_list') %>

<div class="container_12">
    <div class="box">
        <h2>Member Detail
            <span class="l"></span>
            <span class="r"></span>
        </h2>
        <%- partial('ticket/row.html', [
        {label: '_id', value: member._id},
        {label: 'name', value: member.name},
        {label: 'eMail', value: member.email},
        {label: 'username', value: member.username},
        {label: 'Roles', value: member.roles && member.roles.length ? member.roles.join(', ') : ' -- none --'}
        ] ) %>

        <%- partial('form/button_row.html', [
        {class_name: 'medium',          label: 'Return to list',    link: '/admin/members/list'},
        {class_name: 'medium orange',   label: 'Edit',              link: '/admin/member/' + member._id.toString() + '/edit'},
        {class_name: 'medium red',      label: 'Delete',            link: '/admin/member/' + member._id.toString() + '/delete'}
        ]) %>
    </div>
</div>
