<%- helpers.banner_menu('Manage Members', 'member_admin_menu', 'admin_members_add') %>

        <section class="grid_12">

<div class="box form_box">

    <h2>Member Detail
        <span class="l"></span>
        <span class="r"></span>
    </h2>

    <div class="block">
        <form action="/admin/member/0/new" class="form_place" method="POST">
            <%- partial('form/text_field.html', [
            {
            id: 'member_form_name',
            name: 'member[name]',
            value: member.name,
            label: 'Name'
            }
            ,
            {
            id: 'member_form_username',
            name: 'member[username]',
            value: member.username,
            label: 'Name'
            }
            ,
            {
            id: 'member_form_email',
            name: 'member[email]',
            value: member.email,
            label: 'eMail'
            }
            ,
            {
            id: 'member_form_password',
            name: 'member[password]',
            value: member.password,
            label: 'Password',
            field_type: 'password'
            }
            ]) %>

            <%- partial('form/button_row.html', [
            {class_name: 'medium', label: 'Return to list', link: '/admin/members/list'},
            {class_name: 'medium', label: 'View', link: '/admin/member_roles' + member._id},
            {class_name: 'medium orange', label: 'save', type: 'submit', link: '/admin/member/' + member._id.toString() + '/edit'}
            ]) %>

        </form>
    </div>
</div>
</section>
<% if (save_error){ %>

<script language="javascript">
    var errs = <%-JSON.stringify(save_error) %>;

    for (var prop in errs.errors) {
        var prop_err = errs.errors[prop];
        $('#member_form_' + prop).after('<p>' + prop_err.message + '</p>');
    }

</script>

<% } %>